## Context: Strategic Lending Acquisition Analysis
Our company aims to expand its reach within the unbanked and under-banked market by acquiring a strategic lending business. This target company has provided data on their loan disbursements and repayments. Your task is to conduct a comprehensive analysis of this data to evaluate the product's potential and provide actionable recommendations to the leadership team.
Objectives:
1.	Identify and document the key features of the lending product.
2.	Utilize a Business Intelligence (BI) tool to create visualizations that provide insights into the product's performance.
3.	Define key performance metrics and present their trends using time-series visualizations.
4.	Develop a 3-month profit/loss forecast.
5.	Analyze the company's current credit exposure and risk management strategies.
6.	Recommend appropriate provisioning and write-off thresholds.
7.	Propose portfolio triggers / alerts to mitigate adverse portfolio shifts.
8.	Recommend data-driven changes to the product design and features to enhance profitability and manage credit risk.

## Step 1: Import Libraries and Load the Data: Use pandas to load the Disbursments data from the file.

In [68]:
import pandas as pd
import numpy as np
from datetime import datetime

credable_disbursments_df = pd.read_csv(r"C:\Users\jki\Desktop\Data Scence Projects\Case Study Credebale  Loan Customer Data\SQL  EDA\Disbursments datasets.csv")
credable_disbursments_df.head(10)
credable_repayments_df= pd.read_csv(r"C:\Users\jki\Desktop\Data Scence Projects\Case Study Credebale  Loan Customer Data\SQL  EDA\Repayments datasets.csv")

credable_repayments_df.head(10)

,date_time,customer_id,amount,rep_month,repayment_type
0,27-JUN-24 07.16.36.000000000 AM,683131338d401fda38410a808797b7706bc3e364d0fe77...,500.65,202406,Automatic
1,27-JUN-24 05.26.50.000000000 PM,56a41251185bd205961556399289804607ccc660392837...,2833.33,202406,Automatic
2,27-JUN-24 06.45.40.000000000 PM,000e57e83f161e4ba6458b3e32c00815405c5a005e652b...,143.98,202406,Automatic
3,27-JUN-24 01.24.57.000000000 PM,f3606d5ac9a89e0251a60d7183a09bc742eba2e36882af...,1000.00,202406,Automatic
4,27-JUN-24 01.31.44.000000000 PM,f3606d5ac9a89e0251a60d7183a09bc742eba2e36882af...,801.00,202406,Manual
5,27-JUN-24 03.26.42.000000000 PM,ea3d553b28fefa3db6d878f7965bed756cadcc75eab9a4...,0.32,202406,Automatic
6,27-JUN-24 01.20.04.000000000 PM,9612a7e1860338e51c8c17b4c6277b6fcff6673b365b8a...,1400.00,202406,Automatic
7,27-JUN-24 09.05.37.000000000 AM,8a24dbc61bfc131ce97747b67a8cf95dc864b1da40a271...,99.00,202406,Automatic
8,04-JUN-24 08.01.56.000000000 AM,a8de7aea5bc9ad59ce83e55cae10964da3b11e93482292...,470.00,202406,Manual
9,04-JUN-24 07.55.36.000000000 PM,012b01b0a23e9edc57cc2b7632d0973ab6eaff6ad4e9e8...,1309.95,202406,Manual

## Step 2 : Data Preprocessing: Disbursements dataset

Clean and preprocess the data, such as converting date columns to datetime objects and handling missing values.

In [69]:
credable_disbursments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  1000 non-null   object
 1   disb_date    1000 non-null   object
 2   tenure       1000 non-null   object
 3   account_num  1000 non-null   object
 4   loan_amount  1000 non-null   int64
 5   loan_fee     1000 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 47.0+ KB

In [70]:
# Convert date columns to datetime
credable_disbursments_df['disb_date'] = pd.to_datetime(credable_disbursments_df['disb_date'])

credable_disbursments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  1000 non-null   object
 1   disb_date    1000 non-null   datetime64[ns]
 2   tenure       1000 non-null   object
 3   account_num  1000 non-null   object
 4   loan_amount  1000 non-null   int64
 5   loan_fee     1000 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 47.0+ KB

In [71]:
print(credable_disbursments_df.isnull().sum())

customer_id    0
disb_date      0
tenure         0
account_num    0
loan_amount    0
loan_fee       0
dtype: int64

In [72]:
# Save the DataFrame to a CSV file
credable_disbursments_df.to_csv('credable_disbursments.csv', index=False)

## Step 3 : Data Preprocessing: Repayments dataset

Clean and preprocess the data, such as converting date columns to datetime objects and handling missing values.

In [73]:
credable_repayments_df.head(10).head(10)

,date_time,customer_id,amount,rep_month,repayment_type
0,27-JUN-24 07.16.36.000000000 AM,683131338d401fda38410a808797b7706bc3e364d0fe77...,500.65,202406,Automatic
1,27-JUN-24 05.26.50.000000000 PM,56a41251185bd205961556399289804607ccc660392837...,2833.33,202406,Automatic
2,27-JUN-24 06.45.40.000000000 PM,000e57e83f161e4ba6458b3e32c00815405c5a005e652b...,143.98,202406,Automatic
3,27-JUN-24 01.24.57.000000000 PM,f3606d5ac9a89e0251a60d7183a09bc742eba2e36882af...,1000.00,202406,Automatic
4,27-JUN-24 01.31.44.000000000 PM,f3606d5ac9a89e0251a60d7183a09bc742eba2e36882af...,801.00,202406,Manual
5,27-JUN-24 03.26.42.000000000 PM,ea3d553b28fefa3db6d878f7965bed756cadcc75eab9a4...,0.32,202406,Automatic
6,27-JUN-24 01.20.04.000000000 PM,9612a7e1860338e51c8c17b4c6277b6fcff6673b365b8a...,1400.00,202406,Automatic
7,27-JUN-24 09.05.37.000000000 AM,8a24dbc61bfc131ce97747b67a8cf95dc864b1da40a271...,99.00,202406,Automatic
8,04-JUN-24 08.01.56.000000000 AM,a8de7aea5bc9ad59ce83e55cae10964da3b11e93482292...,470.00,202406,Manual
9,04-JUN-24 07.55.36.000000000 PM,012b01b0a23e9edc57cc2b7632d0973ab6eaff6ad4e9e8...,1309.95,202406,Manual

In [74]:
credable_repayments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_time       1000 non-null   object
 1   customer_id     1000 non-null   object
 2   amount          1000 non-null   float64
 3   rep_month       1000 non-null   int64
 4   repayment_type  1000 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 39.2+ KB

In [75]:
# Convert date columns to datetime
credable_repayments_df['date_time'] = pd.to_datetime(
    credable_repayments_df['date_time'], 
    format='%d-%b-%y %I.%M.%S.%f %p', 
    errors='coerce'
)

In [76]:
credable_repayments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_time       1000 non-null   datetime64[ns]
 1   customer_id     1000 non-null   object
 2   amount          1000 non-null   float64
 3   rep_month       1000 non-null   int64
 4   repayment_type  1000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 39.2+ KB

In [77]:
# Save the DataFrame to a CSV file
credable_repayments_df.to_csv('credable_repayments.csv', index=False)

## Step 4 : Forecasting  Loan Disbursments

In [78]:
credable_disbursments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  1000 non-null   object
 1   disb_date    1000 non-null   datetime64[ns]
 2   tenure       1000 non-null   object
 3   account_num  1000 non-null   object
 4   loan_amount  1000 non-null   int64
 5   loan_fee     1000 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 47.0+ KB

## Step 5 : Forecasting Profit / Losss

In [99]:
profit_loss_df = pd.read_csv(r"C:\Users\jki\Desktop\Data Scence Projects\Case Study Credebale  Loan Customer Data\Python EDA\Profit-Loss Forecast.csv")
profit_loss_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26542 entries, 0 to 26541
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       26542 non-null  object
 1   date              26542 non-null  object
 2   account_num       26542 non-null  object
 3   loan_amount       26542 non-null  int64
 4   loan_fee          26542 non-null  float64
 5   total_repayments  26542 non-null  float64
 6   profit            26542 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.4+ MB

In [100]:
# Drop the specified columns
profit_loss_df = profit_loss_df.drop(columns=['customer_id', 'account_num', 'loan_amount', 'loan_fee', 'total_repayments'])

# Display the updated DataFrame
print(profit_loss_df.head())

      date   profit
0  00:00.0  28125.0
1  00:00.0  27950.0
2  00:00.0  28125.0
3  00:00.0  27950.0
4  00:00.0  28125.0

In [101]:
# Convert date columns to datetime
profit_loss_df['date'] = pd.to_datetime(profit_loss_df['date'])
profit_loss_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26542 entries, 0 to 26541
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    26542 non-null  datetime64[ns]
 1   profit  26542 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 414.8 KB

In [102]:
profit_loss_df.head(5)

        date   profit
0 2025-03-20  28125.0
1 2025-03-20  27950.0
2 2025-03-20  28125.0
3 2025-03-20  27950.0
4 2025-03-20  28125.0

In [103]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import timedelta

# Assuming profit_loss_df is already defined and contains the necessary data
# Check the column names
print(profit_loss_df.columns)

# If 'disb_date' is not present, check for similar columns and rename if necessary
# Example:
# profit_loss_df.rename(columns={'actual_column_name': 'disb_date'}, inplace=True)

# Convert 'disb_date' to datetime
profit_loss_df['date'] = pd.to_datetime(profit_loss_df['date'])

# Set 'disb_date' as the index
profit_loss_df.set_index('date', inplace=True)

# Calculate the moving average for forecasting
moving_avg = profit_loss_df['profit'].rolling(window=3).mean()

# Generate forecast for the next 3 months
last_date = profit_loss_df.index[-1]
forecast_dates = [last_date + timedelta(days=30*i) for i in range(1, 4)]
forecast = pd.Series([moving_avg[-1]] * 3, index=forecast_dates)

# Combine actual and forecasted data
forecasted_df = pd.concat([profit_loss_df['profit'], forecast])

# Convert the forecasted data to a DataFrame
forecasted_df = forecasted_df.reset_index()
forecasted_df.columns = ['date', 'profit']

# Save the forecasted data to a CSV file
forecasted_df.to_csv('forecasted_profit.csv', index=False)

print("Forecasted data saved to 'forecasted_profit.csv'")

Index(['date', 'profit'], dtype='object')
Forecasted data saved to 'forecasted_profit.csv'

C:\Users\jki\AppData\Local\Temp\ipykernel_2792\3243191419.py:25: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  forecast = pd.Series([moving_avg[-1]] * 3, index=forecast_dates)